<%= form_with(model: score_card, url: [@project, score_card], local: true) do |form| %>
  <% if score_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score_card.errors.count, "error") %> prohibited this score_card from being saved:</h2>
      <ul>
        <% score_card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :concept_and_product_market_fit %>
    <%= form.text_field :idea_rating, id: :score_card_idea_rating, class: "form-control kv-ltr-theme-fas-star rating-loading" %>
    <%= form.text_area :idea, id: :score_card_idea, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :site_design_and_clarity %>
    <%= form.text_field :design_rating, id: :score_card_design_rating, class: "form-control kv-ltr-theme-fas-star rating-loading" %>
    <%= form.text_area :design, id: :score_card_design, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :overall_user_experience %>
    <%= form.text_field :experience_rating, id: :score_card_experience_rating, class: "form-control kv-ltr-theme-fas-star rating-loading" %>
    <%= form.text_area :experience, id: :score_card_experience, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :monetization_and_potential_for %>
    <%= form.text_field :monetization_rating, id: :score_card_monetization_rating, class: "form-control kv-ltr-theme-fas-star rating-loading" %>    
    <%= form.text_area :monetization, id: :score_card_monetization, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :comments_and_suggestions %>
    <%= form.text_area :suggestions, id: :score_card_suggestions, class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Submit scorecard", class: "btn btn-warning btn-lg shadow" %>
  </div>
<% end %>
