<h1 class="headline-title display-4 font-weight-bold"><%= @project.name %></h1>

<div class="row">
  <%= render 'shared/left_photo_link' %>
  <div class="col-lg-6 col-sm-12">
    <div class="mb-4">
      <strong>Concept and Product-Market Fit</strong>
      <p><%= @score_card.idea_rating %></p>
      <p><%= @score_card.idea %></p>
    </div>
    <div class="mb-4">
      <strong>Site Design and Clarity</strong>
      <p><%= @score_card.design_rating %></p>
      <p><%= @score_card.design %></p>
    </div>
    <div class="mb-4">
      <strong>Overall User Experience</strong>
      <p><%= @score_card.experience_rating %></p>
      <p><%= @score_card.experience %></p>
    </div>
    <div class="mb-4">
      <strong>Monetization and Potential For</strong>
      <p><%= @score_card.monetization_rating %></p>
      <p><%= @score_card.monetization %></p>
    </div>
    <div class="mb-4">
      <strong>Suggestions:</strong>
      <p><%= @score_card.suggestions %></p>
    </div>
  </div>
</div>