<p id="notice"><%= notice %></p>

<p>
  <strong>Idea rating:</strong>
  <%= @score_card.idea_rating %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @score_card.idea %>
</p>

<p>
  <strong>Desing rating:</strong>
  <%= @score_card.desing_rating %>
</p>

<p>
  <strong>Design:</strong>
  <%= @score_card.design %>
</p>

<p>
  <strong>Experience rating:</strong>
  <%= @score_card.experience_rating %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @score_card.experience %>
</p>

<p>
  <strong>Usability rating:</strong>
  <%= @score_card.usability_rating %>
</p>

<p>
  <strong>Usability:</strong>
  <%= @score_card.usability %>
</p>

<p>
  <strong>Monetization rating:</strong>
  <%= @score_card.monetization_rating %>
</p>

<p>
  <strong>Monetization:</strong>
  <%= @score_card.monetization %>
</p>

<p>
  <strong>Suggestions:</strong>
  <%= @score_card.suggestions %>
</p>

<p>
  <strong>Submitted at:</strong>
  <%= @score_card.submitted_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @score_card.user %>
</p>

<p>
  <strong>Project:</strong>
  <%= @score_card.project %>
</p>

<%= link_to 'Edit', edit_score_card_path(@score_card) %> |
<%= link_to 'Back', score_cards_path %>
