<div class="col-lg-6 col-sm-12 mb-4">
  <% if reviewed %>
    <div class="w-100 shadow rounded thumb-mid"
    style="background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(<%= "//image.thum.io/get/crop/1000/#{project.url}" %>); background-size: cover;">
      <img src="<%= "//image.thum.io/get/crop/1000/#{project.url}" %>" style="visibility: hidden;" class="img-fluid site-thumb" />
      <a href="<%= project.url %>" target="_blank" class="link-full-div">
        <div class="site-thumb-center">
          <h2>Done <i class="fa fa-check"></i></h2>
        </div>
      </a>
    </div>
  <% else %>
    <a href="<%= project.url %>" target="_blank" class="link-full-div">
      <img src="<%= "//image.thum.io/get/crop/1000/#{project.url}" %>" class="img-fluid shadow rounded site-thumb" />
    </a>
  <% end %>
</div>