<%= form_for(@project, validate: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name, class: 'form-control', required: true, validate: true %>
  </div>
  <div class="form-group">
    <%= form.label :url, 'URL' %>
    <p><small><em>Please be sure to include the https://</em></small></p>    
    <%= form.text_field :url, id: :project_url, class: 'form-control', value: @project.url || 'https://', required: true, validate: true %>
  </div>
  <div class="form-group">
    <%= form.label :description_and_desired_feedback %>
    <p><small><em>Indicate what your website is about, and what features or areas you'd like feedback for.</em></small></p>
    <%= form.text_area :description, id: :project_description, class: 'form-control', input_html: { rows: 5 } %>
  </div>
  <div class="form-group">
    <%= form.label :categories %>
    <%= form.collection_select :categories, Category.all, :name, :label, { selected: @project.category_list }, { multiple: true, class: "multi-select w-100", placeholder: "Select the categories/audiences for this project" } %>
  </div>  
  <div class="actions">
    <%= form.button :submit, class: 'btn btn-warning shadow' %>
  </div>
<% end %>
