<div class="row mt-2 mb-4">
   <%= render 'shared/left_photo_link', project: project, reviewed: false %>
   <div class="col-lg-6 col-sm-12">
      <h4>Name</h4>
      <p>
         <%= project.name %>
      </p>
      <h4>URL</h4>
      <p>
          <a href="<%= project.url %> target=_blank"><%= project.url %> <i class="fa fa-external-link"></i></a>         
      </p>
      <h4>Description</h4>
      <p>        
         <%= simple_format(project.description) %>
      </p>
      <p><a class="btn btn-warning shadow rounded" href="<%= edit_project_path(project) %>" role="button info">Edit project &raquo;</a></p>
      <h4>Scorecards</h4>
      <% if project.score_cards.count > 0 %>
        <div class="row">
          <% project.score_cards.in_groups_of(5) do |group| %>
          <div class="col-6 mb-4">
              <% group.each do |sc| %>
                <% if sc %>
                  <% if @unread_scorecards.include?(sc) %>
                    <strong>
                      <%= link_to "#{sc.created_at.strftime("%m/%d/%y")} by #{sc.user.name}", project_score_card_path(project, sc) %>
                      <span class="badge badge-success">
                        New
                      </span>
                    </strong>
                  <% else %>
                    <%= link_to "#{sc.created_at.strftime("%m/%d/%y")} by #{sc.user.name}", project_score_card_path(project, sc) %>
                  <% end %>
                  <br />
                <% end %>
              <% end %>
          </div>
          <% end %>
        </div>
      <% else %>
        <p>Your website will be shown to other users once you have feedback credits. <strong><u><%= link_to "Get some by submitting a scorecard here", matches_path %></u></strong>.</p>
        <p>No scorecards have been submitted yet for your site. Please check in later!</p>
      <% end %>
   </div>
</div>