<p id="notice"><%= notice %></p>
<h1 class="headline-title display-4 font-weight-bold">My Projects</h1>
<%= link_to 'Add a Project +', new_project_path, class: "btn btn-warning btn-lg shadow my-3" %>
<% @projects.each do |project| %>
  <div class="row mt-2 mb-4">
    <div class="col-lg-6 col-sm-12">
      <img src="<%= "//image.thum.io/get/auth/5172-feedbackexchange/crop/1000/#{project.url}" %>" class="img-fluid shadow rounded" />
    </div>
    <div class="col-lg-6 col-sm-12">
      <p>
        <h4>Name</h4>
        <%= project.name %>
      </p>
      <p>
        <h4>URL</h4>
        <%= link_to project.url, project.url, target: '_blank' %>
      </p>
      <p>
        <h4>Description</h4>
        <%= project.description %>
      </p>
      <p><a class="btn btn-warning shadow" href="<%= edit_project_path(project) %>" role="button info">Edit project &raquo;</a></p>      
    </div>
  </div>
<% end %>