<p id="notice"><%= notice %></p>
<h1>Projects</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">URL</th>
      <th scope="col">Description</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% current_user.projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.url %></td>
        <td><%= project.description %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Matches', project_path(project) + '/matches' %></td>
        <td><%= link_to 'X', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Project', new_project_path %>
