<p id="notice"><%= notice %></p>
<h1>Matches</h1>
<table class="table">
  <thead>
    <tr>
      <th>Creator</th>
      <th>Your score card</th>
      <th>Their score card</th>
      <th>Exchange contact?</th>
    </tr>
  </thead>
  <tbody>
    <% @project.matches.each do |match| %>
      <tr>
        <% if match.project_one == @project %>
          <td><%= match.creator_first %></td>
          <td><%= match.score_card_from_first ? match.score_card_from_first : 'Uncompleted' %></td>
          <td><%= match.score_card_from_second ? match.score_card_from_second : 'Uncompleted'  %></td>
          <td><%= match.will_exchange_info_first %></td>
        <% else %>
          <td><%= match.creator_second %></td>
          <td><%= match.score_card_from_first ? match.score_card_from_first : 'Uncompleted' %></td>
          <td><%= match.score_card_from_second ? match.score_card_from_second : 'Uncompleted'  %></td>
          <td><%= match.will_exchange_info_second %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Get a New Match!', project_path(@project) + '/new_match' %>
