<h1 class="headline-title display-4 font-weight-bold">To Review</h1>
<%= link_to 'See submitted scorecards', score_cards_previous_path, class: "btn btn-warning btn-lg shadow my-3" %>
<% if @matches.count > 0 %>
  <div class="match-container">
  <% @matches.each do |match| %>
      <div class="match row mt-2 mb-4">
        <%= render 'shared/left_photo_link', project: match.project, reviewed: false %>
        <div class="col-lg-6 col-sm-12">
          <h4>Name</h4>
          <p>        
            <%= match.project.name %>
          </p>
          <h4>URL</h4>
          <p>
            <a href="<%= match.project.url %> target=_blank"><%= match.project.url %> <i class="fa fa-external-link"></i></a>
          </p>
          <h4>Description</h4>
          <p>
            <%= simple_format(match.project.description) %>
          </p>
          <p>
            <a class="btn btn-warning btn-lg shadow" href="<%= match.project.url %>" role="button info" target="_blank">Visit site &raquo;</a></p>          
            <a class="btn btn-warning btn-lg shadow" href="<%= new_project_score_card_path(match.project) %>" role="button info">Fill out scorecard &raquo;</a>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  <p class="pagination d-none">
    <a class="pagination__next" href="/matches/page/2">Next page</a>
  </p>  
<% else %>
  <p>Sorry, there are no matches for your interests right now. We're currently looking for some for you. Please check back in a bit!</p>
<% end %>
<p>
  Scroll to get more matches &raquo;
</p>