<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Up your startup karma. Get feedback for your project by giving it back.">
    <meta name="author" content="Jake Zhang">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>FeedbackExchange</title>
    <%= csrf_meta_tags %>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="canonical" href="https://feedback.exchange">
    <style>
      /* Move down content because we have a fixed navbar that is 3.5rem tall */
      body {
        padding-top: 3.5rem;
      }
      
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body>
    <%= render 'shared/nav' %>
    <main role="main">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron text-white">
        <div class="container">
          <h1 class="display-4 font-weight-bold">Want feedback for your website?</h1>
          <p class="lead">Get your startup, side hustle, or landing page reviewed being a good samaritan and giving it back.</p>
          <p><a class="btn btn-warning btn-lg" href="/review" role="button info">Start reviewing &raquo;</a></p>
        </div>
      </div>
      <div class="container">
        <!-- Example row of columns -->
        <%= yield %>
        <hr>
      </div>
      <!-- /container -->
    </main>
    <footer class="container">
      <p>&copy; FeedbackExchange 2018-2020</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
      window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
</html>
